<div>
            {{title}}
            <form [ngFormModel]= "form" (ngSubmit)="login()">
                <div class="form-group">
                    <label for="login">Login</label>
                    <input type="text"
                      ngControl="login"
                      #login="ngForm"
                      id="login"
                      class="form-control" />
                      <!-- other option
                      <div *ngIf="!login.valid"
                      -->
                      <div
                      *ngIf="!form.controls['login'].valid"
                      class="alert alert-warning">Login is required</div>
                </div>
                <div class="form-group">
                    <label for="password">Password</label>
                    <input type="password"
                      ngControl="password"
                      id="password" class="form-control" />
                      <div
                      *ngIf="!form.controls['password'].valid"
                      class="alert alert-warning">Password is required</div>

                </div>
                <button type="submit" class="btn btn-primary">Sign in</button>
            </form>
</div>
